/* nav {
    background-color: black;
    width: 100%;
}

nav a {
    color: white;
} */

nav button {
    color: white;
}

section {
    text-align: center;
}

section h1 {
    position: relative;
    bottom: 50px;
    font-size: 3.5em;
}

section h2 {
    font-style: italic;
}

article {
    margin: 0 auto;
}

article img {
    position: relative;
    left: 150px;
}

article a {
    clear: right;
    float: right;
}

form {
    padding-left: 15px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 575px) {
    section h1,
    section h2 {
        position: relative;
        top: 1px;
    }
}

@media only screen and (max-width: 600px) {
    section,
    article {
        width: 100%;
    }
    img {
        display: none;
    }
    p {
        font-size: 0.8em;
        padding: 5px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 975px) {
    .largelogo {
        display: none;
    }
    p {
        font-size: 0.8em;
        padding: 5px;
    }
}